{% include site-nav.html %}

<header class="page-header">
    <div class="wrap">
        <div class="intro-copy">
            <h1>Dung Thai</h1>
            <h2> Computer &#8226 Science &#8226 Math</h2>
            <p class="description">That's pretty much everything about me. I'm Dung Thai (bottom-left), a research engineer with interest in computer vision, nlp and machine learning. In my spare time, I enjoy solving puzzle, reading book and learning new things. <i>My parents growth the best coffee in the world!</i></p>
            <div class="social-media-links">
                <a href="http://github.com/dungtn" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
                <a href="http://twitter.com/thaingocdung" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
            </div>
        </div>

        <div class="my-avatar index">
            <img class="my-photo" src="/img/zigbee07plus.jpg" alt="Google Deep Leearning" />
        </div>
    </div>
</header>
